.ba-section-review {
    padding: 120px 0;
    background: url(../img/comment-bg.jpg) 50% no-repeat;
    background-size: cover;
    height: 100vh;
}

.ba-reviev-title {
    text-align: center;
    color: $text-color;
    padding-bottom: 90px;
}

.ba-col-7 {
    padding-left: 56px;
}

.Sam-says {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    color: $title-color;
}